@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
.main__buttonForm, .main__buttonBest, .main__buttonSub, .navigation__el:last-child, .header__button {
  padding: 17px 30px;
  line-height: 36px;
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background-color: #2cd7Cb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.main__buttonForm:hover, .main__buttonBest:hover, .main__buttonSub:hover, .navigation__el:hover:last-child, .header__button:hover {
  background-color: #cbc3e3;
}
@media (max-width: 1440px) {
  .main__buttonForm, .main__buttonBest, .main__buttonSub, .navigation__el:last-child, .header__button {
    margin: auto;
    width: 318px;
  }
}

.main__priceBest, .main__priceSub, .header__priceInfo {
  margin: 0;
  line-height: 24px;
  color: #95989b;
}

.main__titleForm, .main__titleBest, .main__titleInfo, .main__titleSub, .main__titleAbout {
  line-height: 56.7px;
  font-size: 54px;
  font-weight: 400;
  color: #2a3036;
}
@media (max-width: 1440px) {
  .main__titleForm, .main__titleBest, .main__titleInfo, .main__titleSub, .main__titleAbout {
    line-height: 50px;
    font-size: 48px;
  }
}

.main__subtitleForm, .main__subtitleInfo {
  line-height: 37.8px;
  font-size: 36px;
  font-weight: 400;
  color: #4a4f54;
}
@media (max-width: 1440px) {
  .main__subtitleForm, .main__subtitleInfo {
    font-size: 24px;
    line-height: 25px;
  }
}

.footer__el, .main__textInfo, .main__textAbout {
  line-height: 30px;
  font-size: 20px;
  color: #75787c;
}

.main__squareSub {
  height: 70px;
  width: 70px;
  background-color: #72cfc9;
  border-radius: 10px;
}
@media (max-width: 1440px) {
  .main__squareSub {
    height: 30px;
    width: 30px;
    border-radius: 6px;
  }
}

.footer__store, .footer__socialEl, .main__store {
  transition: all 0.5s;
}
.footer__store:hover, .footer__socialEl:hover, .main__store:hover {
  transform: scale(1.15);
}

.main__formName {
  margin-bottom: 11px;
  line-height: 24px;
  color: #2a3036;
}

.main__imageBest, .main__imgInfoContainer, .main__photoAbout, .header__rightBlock {
  transition: all 0.5s;
}
.main__imageBest:hover, .main__imgInfoContainer:hover, .main__photoAbout:hover, .header__rightBlock:hover {
  transform: scale(1.1);
}
@media (max-width: 1440px) {
  .main__imageBest:hover, .main__imgInfoContainer:hover, .main__photoAbout:hover, .header__rightBlock:hover {
    transform: none;
  }
}

@media (max-width: 1440px) {
  .main__imgInfoContainer--1, .main__photoAbout {
    width: 320px;
    height: 180px;
    object-fit: cover;
  }
}

.page {
  margin: auto;
  padding: 0 90px;
  width: 1440px;
  font-family: "Mitr";
}
@media (max-width: 1440px) {
  .page {
    padding: 0 10px;
    max-width: 100vw;
  }
}

.header {
  margin-bottom: 171px;
  padding-top: 36px;
}
@media (max-width: 1440px) {
  .header {
    margin-bottom: 100px;
    padding-top: 10px;
  }
}
.header__content {
  margin: auto;
  display: flex;
  width: fit-content;
  gap: 219px;
}
@media (max-width: 1440px) {
  .header__content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}
.header__leftBlock {
  position: relative;
}
.header__title {
  margin-bottom: 40px;
  width: 458px;
  height: 284px;
  line-height: 71.4px;
  font-size: 68px;
  font-weight: 400;
  color: #2a3036;
  text-transform: capitalize;
}
@media (max-width: 1440px) {
  .header__title {
    margin: 0;
    width: 280px;
    height: fit-content;
    line-height: 42px;
    font-size: 36px;
  }
}
.header__ellipse {
  position: absolute;
  width: 336px;
  height: 86px;
  top: 188px;
  left: -16px;
  z-index: -1;
}
@media (max-width: 1440px) {
  .header__ellipse {
    top: 66px;
    left: -10px;
    width: 179.8px;
  }
}
.header__motto {
  margin-bottom: 93px;
  width: 458px;
  height: 60px;
  line-height: 30px;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .header__motto {
    margin-bottom: 50px;
    width: 300px;
  }
}
.header__button {
  margin-bottom: 10px;
  padding-right: 65px;
  padding-left: 65px;
}
.header__rightBlock {
  padding-right: 70px;
}
@media (max-width: 1440px) {
  .header__rightBlock {
    padding: 0;
  }
}
@media (max-width: 1440px) {
  .header__rightBlockPhoto {
    padding: 0;
    width: 298.8px;
    height: 355.3x;
  }
}

.navigation {
  margin: 0 auto 138px;
  position: relative;
  width: 1260px;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
}
@media (max-width: 1440px) {
  .navigation {
    margin: 0 auto 2px;
    width: fit-content;
  }
}
.navigation__logo {
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.navigation__logo::after {
  position: absolute;
  content: "";
  background-color: transparent;
  top: -35px;
  left: -35px;
  right: -35px;
  bottom: -35px;
  border: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 50%;
  z-index: -1;
}
.navigation__logo:hover::after {
  top: -6px;
  left: -10px;
  right: -18px;
  bottom: 1px;
  border-color: #2cd7Cb;
}
.navigation__list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 100px;
}
@media (max-width: 1440px) {
  .navigation__list {
    display: none;
  }
}
.navigation__el {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
.navigation__el:last-child {
  margin-left: -50px;
  padding: 17px 30px;
  width: 80px;
  height: 36px;
}
.navigation__el::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: transparent;
  left: -10px;
  right: -10px;
  transition: all 0.5s;
}
.navigation__el:hover::before {
  left: 0;
  right: 0;
  background-color: #2cd7Cb;
}
.navigation__el:hover:last-child::before {
  display: none;
}

/* Customize the container */
.container {
  margin-left: 3px;
  display: block;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #f8f8f8;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2cd7Cb;
  border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid #ebf8f7;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main__about {
  margin: 0 auto 100px;
  display: flex;
  width: fit-content;
  gap: 180px;
}
@media (max-width: 1440px) {
  .main__about {
    margin: 0 auto;
    flex-direction: column;
    width: 320px;
    gap: 16px;
  }
}
.main__titleAbout {
  margin: 0 0 50px;
}
@media (max-width: 1440px) {
  .main__titleAbout {
    margin-bottom: 8px;
    width: 320px;
  }
}
.main__textAbout {
  width: 460px;
}
@media (max-width: 1440px) {
  .main__textAbout {
    width: 320px;
  }
}
.main__subscription {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eefffe;
}
@media (max-width: 1440px) {
  .main__subscription {
    box-sizing: border-box;
    margin: 0 auto 38px;
    padding: 40px;
    width: 360px;
    left: 35px;
  }
}
.main__titleSub {
  margin: 30px auto 72px;
}
@media (max-width: 1440px) {
  .main__titleSub {
    margin-bottom: 48px;
  }
}
.main__listSub {
  margin: 0 0 77px;
  display: flex;
  width: 870px;
  justify-content: space-between;
  list-style: none;
  color: #2a3036;
}
@media (max-width: 1440px) {
  .main__listSub {
    margin-bottom: 20px;
    padding: 0;
    width: 320px;
    flex-wrap: wrap;
  }
}
.main__elSub {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  transition: all 0.5s;
}
.main__elSub:hover {
  transform: scale(1.15);
}
@media (max-width: 1440px) {
  .main__elSub {
    margin-bottom: 38px;
    flex-basis: 30%;
    gap: 6px;
  }
}
.main__logoSub {
  position: absolute;
  top: 21px;
}
@media (max-width: 1440px) {
  .main__logoSub {
    top: 7px;
    width: 18px;
    height: 18px;
  }
}
.main__nameSub {
  margin: 0;
  line-height: 30px;
}
.main__buttonSub {
  margin-bottom: 10px;
  padding-left: 65px;
  padding-right: 65px;
}
@media (max-width: 1440px) {
  .main__buttonSub {
    padding: 17px 30px;
    width: 280px;
  }
}
.main__priceSub {
  margin-bottom: 21px;
  text-align: center;
}
@media (max-width: 1440px) {
  .main__priceSub {
    width: 360px;
  }
}
.main__info {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  gap: 180px;
}
@media (max-width: 1440px) {
  .main__info {
    width: 320px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}
.main__info--1 {
  margin-bottom: 90px;
}
.main__info--2 {
  margin-bottom: 100px;
}
@media (max-width: 1440px) {
  .main__info--2 {
    margin-bottom: 0;
    flex-direction: column-reverse;
  }
}
.main__info--3 {
  margin-bottom: 113px;
  gap: 160px;
}
@media (max-width: 1440px) {
  .main__info--3 {
    margin-bottom: 32px;
    gap: 10px;
  }
}
.main__imgInfoContainer {
  width: 620px;
  overflow: hidden;
  box-shadow: 0px 1px 21px rgba(0, 0, 0, 0.09);
}
.main__imgInfoContainer--1 {
  height: 444px;
}
@media (max-width: 1440px) {
  .main__imgInfoContainer--1 {
    display: none;
  }
}
.main__imgInfoContainer--2 {
  height: 350px;
}
@media (max-width: 1440px) {
  .main__imgInfoContainer--2 {
    width: 320px;
    height: fit-content;
  }
}
.main__imgInfoContainer--3 {
  position: relative;
  height: 351px;
  box-shadow: none;
}
.main__imgInfoContainer--3:hover {
  box-shadow: 0px 1px 21px #2cd7Cb;
  transform: none;
}
@media (max-width: 1440px) {
  .main__imgInfoContainer--3 {
    width: 320px;
    height: fit-content;
  }
}
.main__imgInfo {
  width: 620px;
  transform: scale(1.1);
}
.main__imgInfo--1 {
  height: 444px;
}
.main__imgInfo--2 {
  height: 350px;
}
@media (max-width: 1440px) {
  .main__imgInfo--2 {
    margin: auto;
    display: block;
    width: 300px;
    height: 220px;
    object-fit: cover;
  }
}
.main__imgInfo--3 {
  transform: none;
}
@media (max-width: 1440px) {
  .main__imgInfo--3 {
    margin: auto;
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}
.main__playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__contentInfo {
  position: relative;
}
.main__contentInfo--1 {
  width: 454px;
}
.main__contentInfo--2 {
  width: 460px;
}
.main__titleInfo {
  margin: 0;
}
.main__titleInfo--1 {
  margin-bottom: 13px;
}
@media (max-width: 1440px) {
  .main__titleInfo--1 {
    margin: 0 auto 15px;
    width: 320px;
  }
}
.main__titleInfo--2 {
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .main__titleInfo--2 {
    margin: 0 auto 15px;
    width: 320px;
  }
}
.main__titleInfo--3 {
  margin-bottom: 45px;
}
@media (max-width: 1440px) {
  .main__titleInfo--3 {
    margin: 0 auto -10px;
    width: 320px;
  }
}
.main__subtitleInfo--3 {
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .main__subtitleInfo--3 {
    margin-bottom: 8px;
    width: 240px;
  }
}
.main__textInfo {
  margin: 0;
}
.main__textInfo--1 {
  margin-bottom: 74px;
}
@media (max-width: 1440px) {
  .main__textInfo--1 {
    margin: auto;
    width: 320px;
  }
}
.main__textInfo--2 {
  margin-bottom: 21px;
  width: 456px;
}
@media (max-width: 1440px) {
  .main__textInfo--2 {
    margin: auto;
    width: 320px;
  }
}
.main__buttonInfo {
  position: absolute;
  right: 0;
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #2cd7Cb;
  cursor: pointer;
  gap: 14px;
}
.main__buttonInfo::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: transparent;
  left: -10px;
  right: -10px;
  top: 0;
  transition: all 0.5s;
}
.main__buttonInfo:hover::before {
  left: 6px;
  right: 47px;
  background-color: #2cd7Cb;
}
@media (max-width: 1440px) {
  .main__buttonInfo {
    margin: 0 auto -58px;
    padding: 40px;
    position: relative;
  }
}
.main__button {
  line-height: 36px;
  font-family: "Mitr";
  font-size: 24px;
  font-weight: 500;
}
.main__stores {
  display: flex;
  gap: 20px;
}
@media (max-width: 1440px) {
  .main__stores {
    margin: 50px auto;
    width: 320px;
  }
}
.main__bestsellers {
  margin-bottom: 83px;
}
@media (max-width: 1440px) {
  .main__bestsellers {
    margin-bottom: 60px;
  }
}
.main__titleBest {
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 1440px) {
  .main__titleBest {
    margin: 0 auto 28px;
    width: 320px;
  }
}
.main__imagesBest {
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}
@media (max-width: 1440px) {
  .main__imagesBest {
    margin: 0 auto 40px;
    display: flex;
    max-width: 340px;
    justify-content: space-between;
  }
}
.main__imageBest {
  cursor: pointer;
}
.main__imageBest:first-child {
  transform: none;
}
.main__imageBest:last-child {
  transform: none;
}
@media (max-width: 1440px) {
  .main__imageBest {
    display: none;
    height: 152.3px;
    width: 100px;
  }
  .main__imageBest:nth-child(2) {
    display: block;
  }
  .main__imageBest:nth-child(3) {
    display: block;
  }
  .main__imageBest:nth-child(4) {
    display: block;
  }
}
.main__buttonBest {
  margin: 0 auto 10px;
  padding-left: 225px;
  padding-right: 225px;
  display: block;
}
@media (max-width: 1440px) {
  .main__buttonBest {
    margin: 0 auto 10px;
    padding: 17px 30px;
    width: 340px;
  }
}
.main__priceBest {
  text-align: center;
}
.main__form {
  margin: 0 auto 151px;
  width: 1260px;
  background-color: #ebf8f7;
  border: 1px solid transparent;
}
@media (max-width: 1440px) {
  .main__form {
    margin-bottom: 10px;
    width: 360px;
  }
}
.main__formContent {
  margin: auto;
  width: fit-content;
}
@media (max-width: 1440px) {
  .main__formContent {
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
  }
}
.main__titleForm {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 1440px) {
  .main__titleForm {
    text-align: start;
  }
}
.main__subtitleForm {
  margin-bottom: 39px;
  text-align: center;
}
@media (max-width: 1440px) {
  .main__subtitleForm {
    text-align: start;
  }
}
.main__formLine {
  margin-bottom: 30px;
  display: block;
  width: 460px;
  height: 70px;
  font-family: "Mitr";
  font-size: 20px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 10px;
  text-indent: 20px;
}
.main__formLine:last-child {
  margin-bottom: 27px;
}
.main__formLine::placeholder {
  color: #95989b;
}
@media (max-width: 1440px) {
  .main__formLine {
    width: 270px;
  }
}
.main__formCheckbox {
  margin-bottom: 18px;
  display: flex;
  gap: 16px;
}
.main__checkboxText {
  margin-top: 1px;
  line-height: 18px;
}
.main__buttonForm {
  margin-bottom: 28px;
  display: block;
  padding-left: 145px;
  padding-right: 145px;
}
@media (max-width: 1440px) {
  .main__buttonForm {
    margin: 0;
    margin-bottom: 10px;
    padding: 17px 30px;
    width: 270px;
  }
}
.main__buttonForm--google {
  padding: 0;
  height: 70px;
  background-color: #fff;
}
@media (max-width: 1440px) {
  .main__buttonForm--google {
    margin: 0;
    margin-bottom: 18px;
    width: 270px;
    overflow: hidden;
  }
}
.main__buttonForm--google:hover {
  background-color: #c8dbec;
}
@media (max-width: 1440px) {
  .main__signInGoogle {
    margin-left: -48px;
    vertical-align: middle;
    width: 370px;
  }
}
.main__signIn {
  margin: 0 auto 18px;
  width: fit-content;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 1440px) {
  .main__signIn {
    margin: 0;
    text-indent: 3px;
    font-size: 16px;
  }
}
.main__buttonSignIn {
  position: relative;
  background: none;
  color: #2cd7Cb;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.main__buttonSignIn::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: transparent;
  left: -10px;
  right: -10px;
  bottom: -4px;
  transition: all 0.5s;
}
.main__buttonSignIn:hover::after {
  left: 0;
  right: 0;
  background-color: #2cd7Cb;
}

.footer {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 235px;
  background-color: #c3ebe8;
}
@media (max-width: 1440px) {
  .footer {
    width: 362px;
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
}
.footer__content {
  margin-top: 41px;
  width: 315px;
}
.footer__content:last-child {
  margin-left: 174px;
  width: 140px;
}
@media (max-width: 1440px) {
  .footer__content:last-child {
    margin-left: 0;
    margin-bottom: 30px;
    width: 315px;
  }
}
.footer__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  width: fit-content;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}
.footer__subtitle::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: transparent;
  left: -15px;
  right: -15px;
  transition: all 0.5s;
}
.footer__subtitle:hover::before {
  left: 0;
  right: 0;
  background-color: #2cd7Cb;
}
.footer__select {
  padding: 0 10px;
  width: 140px;
  height: 42px;
  font-family: "Mitr";
  font-size: 20px;
  color: #fff;
  background-color: #72cfc9;
  border-color: transparent;
  outline-color: #72cfc9;
  border-radius: 10px;
  cursor: pointer;
}
.footer__list {
  padding: 0;
}
.footer__el {
  position: relative;
  width: fit-content;
  color: #4a4f54;
  list-style: none;
  cursor: pointer;
  transition: all 0.5s;
}
.footer__el::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: transparent;
  left: -15px;
  right: -15px;
  transition: all 0.5s;
}
.footer__el:hover {
  transform: translateX(10px);
}
.footer__el:hover::before {
  left: -10px;
  right: 0;
  background-color: #4a4f54;
}
.footer__socialContainer {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  border: 1px solid transparent;
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer__stores {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
@media (max-width: 1440px) {
  .footer__stores {
    flex-direction: row;
  }
}
body {
  margin: 0;
  font-family: "Mitr", sans-serif;
  cursor: default;
}

/*# sourceMappingURL=main.css.map */
