.footer {
  display: flex;
  justify-content: center;
  height: 235px;
  background-color: #c3ebe8;

  &__content {
    margin-top: 41px;
    width: 315px;

    &:last-child {
      margin-left: 174px;
      width: 140px;
    }
  }

  &__subtitle {
    position: relative;
    margin: 0;
    margin-bottom: 15px;
    width: fit-content;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;

    &::before {
      position: absolute;
      content: '';
      height: 3px;
      background-color: transparent;
      left: -15px;
      right: -15px;
      transition: all 0.5s;
    }

    &:hover {
      &::before {
        left: 0;
        right: 0;
        background-color: $accent-color;
      }
    }
  }

  &__select {
    padding: 0 10px;
    width: 140px;
    height: 42px;
    font-family: "Mitr";
    font-size: 20px;
    color: #fff;
    background-color: $sqare-color;
    border-color: transparent;
    outline-color: $sqare-color;
    border-radius: 10px;
    cursor: pointer;
  }

  &__list {
    padding: 0;
  }

  &__el {
    @extend %text;

    position: relative;
    width: fit-content;
    color: $subtitle-color;
    list-style: none;
    cursor: pointer;
    transition: all 0.5s;

    &::before {
      position: absolute;
      content: '';
      height: 3px;
      background-color: transparent;
      left: -15px;
      right: -15px;
      transition: all 0.5s;
    }

    &:hover {
      transform: translateX(10px);
      
      &::before {
        left: -10px;
        right: 0;
        background-color: $subtitle-color;
      }
    }
  }

  &__socialContainer {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    border: 1px solid transparent;
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__socialEl {
    @extend %store;
  }

  &__stores {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  &__store {
    @extend %store;
  }
}
