.page {
  margin: auto;
  padding: 0 90px;
  width: 1440px;
  font-family: 'Mitr';

  @include onMobile {
    margin: 0;
    box-sizing: border-box;
    padding: 0 10px;
    max-width: 100vw;
    overflow: hidden;
  }
}
