%button {
  padding: 17px 30px;
  line-height: 36px;

  font-family: 'Mitr', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;

  color: #fff;
  background-color: $accent-color;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: $hover;
  }

  @include onMobile {
    margin: auto;
    width: 318px;   
  }
}

%priceInfo {
  margin: 0;
  line-height: 24px;
  color: $priceInfo-color;
}

%title {
  line-height: 56.7px;
  font-size: 54px;
  font-weight: 400;
  color: $title-color;

  @include onMobile {
    line-height: 50px;
    font-size: 48px;
  }
}

%subtitle {
  line-height: 37.8px;
  font-size: 36px;
  font-weight: 400;
  color: $subtitle-color;

  @include onMobile {
    font-size: 24px;
    line-height: 25px;
  }
}

%text {
  line-height: 30px;
  font-size: 20px;
  color: $text-color;
}

%subscriptionSquare {
  height: 70px;
  width: 70px;
  background-color: $sqare-color;
  border-radius: 10px;

  @include onMobile {
    height: 30px;
    width: 30px;

    border-radius: 6px;
  }
}

%store {
  transition: all 0.5s;

  &:hover {
    transform: scale(1.15);
  }
}

%formName {
  margin-bottom: 11px;
  line-height: 24px;
  color: $title-color;
}

%mobileImg {
  @include onMobile {
    width: 320px;
    height: 180px;
    object-fit: cover;
  }
}
