$accent-color: #2cd7Cb;
$title-color: #2a3036;
$subtitle-color: #4a4f54;
$priceInfo-color: #95989b;
$text-color: #75787c;
$accentBackground-color: #eefffe;
$sqare-color: #72cfc9;
$form-color: #f8f8f8;
$hover: #cbc3e3;
